<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>" />
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
    <meta
      name="twitter:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      name="twitter:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
  </head>

  <body style="overflow: hidden; background-color: white">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Archivo:100,200,300,400,500,600,700,800,900&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,300,400,500,600,700&amp;display=swap"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <nav></nav>
    <!-- Start: Page Content -->
    <div
      class="container-fluid"
      style="padding-top: 24px; padding-bottom: 46px"
    >
      <div class="row gy-5 justify-content-evenly">
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Management of Agreement and Contract Drafting.webp"
              alt="Drafting of Agreements in Light of Investment Flows and Their
              Administration icon"
            />
            <h5 class="serviceTitle">
              Drafting of Agreements in Light of Investment Flows and Their
              Administration
            </h5>
            <a
              href="/services/Drafting of Agreements in Light of Investment Flows and Their Administration"
            >
              <button
                class="serviceCardButton"
                id="moreDetails_btn"
                type="button"
              >
                MORE DETAILS
              </button>
            </a>
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Mediation, Arbitration, and International Dispute Resolution.webp"
              alt="Mediation, Arbitration, and International Dispute Resolution icon"
            />
            <h5 class="serviceTitle">
              Mediation, Arbitration, and Dispute Resolution
            </h5>
            <a href="/services/Mediation, Arbitration, and Dispute Resolution">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Corporate Governance and Mergers & Acquisitions.webp"
              alt="Corporate Governance and Mergers & Acquisitions icon"
            />
            <h5 class="serviceTitle">
              Corporate Governance and Mergers & Acquisitions
            </h5>
            <a href="/services/Corporate Governance and Mergers & Acquisitions">
              <button
                class="serviceCardButton"
                type="button"
                style="
                  margin-top: 13px;
                  width: 80%;
                  border-style: none;
                  background: #b38f54;
                  color: rgb(255, 255, 255);
                  border-radius: 4px;
                "
              >
                MORE DETAILS
              </button>
            </a>
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Industrial and Commercial Projects, and Companies.webp"
              alt="Industrial and Commercial Projects, and Companies icon"
            />
            <h5 class="serviceTitle">Corporate and Project Services</h5>
            <a href="/services/Corporate and Project Services">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Criminal_Corporate.webp"
              alt="Criminal Corporate icon"
            />
            <h5 class="serviceTitle">Financial and Corporate Crimes</h5>
            <a href="/services/Financial and Corporate Crimes">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Restructuring and Bankruptcy.webp"
              alt="Restructuring and Bankruptcy icon"
            />
            <h5 style="margin-top: 25px" class="serviceTitle">
              Restructuring and Insolvency
            </h5>
            <a href="/services/Restructuring and Insolvency">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img class="serviceImages" src="/assets/images/Litigation.webp"
              alt="Litigation icon"
              />
            <h5 class="serviceTitle">Litigation</h5>
            <a href="/services/Litigation">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img class="serviceImages" src="/assets/images/Taxation.webp"
              alt="Taxation icon"
            />
            <h5 class="serviceTitle">Tax Transactions</h5>
            <a href="/services/Tax Transactions">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Intellectual Property.webp"
              alt="Intellectual Property icon"
            />
            <h5 class="serviceTitle">Intellectual Property</h5>
            <a href="/services/Intellectual Property">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Banking and Finance.webp"
              alt="Banking and Finance icon"
            />
            <h5 class="serviceTitle">Banking and Finance</h5>
            <a href="/services/Banking and Finance">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Capital Markets.webp"
              alt="Capital Markets icon"
            />
            <h5 class="serviceTitle">Capital Markets</h5>
            <a href="/services/Capital Markets">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img
              class="serviceImages"
              src="/assets/images/Hospitality & Leisure.webp"
              alt="Hospitality and Tourism icon"
            />
            <h5 class="serviceTitle">Hospitality and Tourism</h5>
            <a href="/services/Hospitality and Tourism">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img class="serviceImages" src="/assets/images/Real Estate.webp"
              alt="Real Estate icon"
            />
            <h5 class="serviceTitle">Real Estate</h5>
            <a href="/services/Real Estate">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img class="serviceImages" src="/assets/images/Medical Field.webp"
              alt="Medical Field icon"
            />
            <h5 class="serviceTitle">Healthcare Sector</h5>
            <a href="/services/Healthcare Sector">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 service-col"
          style="text-align: center"
        >
          <div class="serviceItemContainer">
            <img class="serviceImages" src="/assets/images/Cybercrime.webp"
              alt="Cybercrime icon"
            />
            <h5 class="serviceTitle"><strong>Cybercrime</strong></h5>
            <a href="/services/Cybercrime">
              <button class="serviceCardButton" type="button">
                MORE DETAILS
              </button></a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- End: Page Content -->
     <footer></footer>
  </body>
</html>
